.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-content {
    text-align: center;
    margin-bottom: 20rem;
  }
  
  h1 {
    font-size: 6rem;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  